*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.container {
    position: relative;
}

img {
    border-bottom: 6px solid black;
    border-top: 6px solid black;
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.2);
}

.card:hover img {
    border-bottom: 6px solid black;
    border-top: 6px ;
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px #33bbff;
}

.container .card .imgbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgbox {
    top: 0%;
    transform: translateY(0%);
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1;
    color: #fff;
}

.container .card .contentBx .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .price {
    opacity: 1;
    visibility: visible;
}

.container .card .contentBx .price h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .price span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .price span:hover {
    background: #33bbff;
}

.container .card .contentBx .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .amount {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.25s;
}

.container .card .contentBx .amount h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .amount span {
    width: 35px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .amount span:hover {
    background: #33bbff;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.75s;
    transition-delay: 0.3s;
}

.container .card .contentBx a:hover {
    transition-delay: 0s;
    background: #9bdc28;
}