* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  

  section {
    display: -webkit-flex;
    display: flex;
  }
  

  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding-left: 15px;
  }
  

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: white;
    padding: 10px;
  }
  

  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
 
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  .button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-left: 6px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .box {
    width: 550px;
    height: 250px;
    padding: 25px;
    border: 5px solid transparent;
    margin: 25px;
    text-align: center;
    display: block;
    background-color: lightgray;
    border-style: outset;
    margin:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .style1{
    background-color: white;
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.hidden {
  background-color:white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-left: 6px solid #eb94d0;
  border-bottom: 6px solid #eb94d0;
  border-right: 6px solid #eb94d0;
  border-top: 6px solid #eb94d0;
  display: inline;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.button:hover {
  background-color: lightblue;
  border-left: 6px blue;
}