body {
    background-image:linear-gradient(-40deg, rgb(6, 28, 61), rgb(13, 55, 133), rgb(22, 70, 175),rgb(0, 12, 15));
}


.loader-6 {
	height: 32px;
	width: 32px;
}
.loader-6 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 60px;
	width: 60px;
}
.loader-6 span::before,
.loader-6 span::after {
    cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	top: -30; left: -125;
	bottom: 0; right: 0;
	margin: auto;
	height: 300px;
	width: 300px;
	border: 5px solid rgb(17, 173, 201);
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: loader-6-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
	        animation: loader-6-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
}
@-webkit-keyframes loader-6-1 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(0); opacity: 100; }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1.5); opacity: 10; }
}
@keyframes loader-6-1 {
	0%   { transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { transform: translate3d(0, 0, 0) scale(1.5); opacity: 0; }
}
.loader-6 span::after {
	-webkit-animation: loader-6-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
	        animation: loader-6-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;
}
@-webkit-keyframes loader-6-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); opacity: 0; }
}
@keyframes loader-6-2 {
	0%   { transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { transform: translate3d(0, 0, 0) scale(1); opacity: 0; }
}

.home-image {
    border-radius: 50%;
    height:200px;
    width:200px;
    border: 2px solid black;
    box-shadow: 0px 5px 16px 10px rgb(21, 22, 22);
}

.home-image:hover {
  box-shadow: 0px 0px 30px 10px rgb(0, 208, 255);
}

.home {
    border-radius: 50%;
    position: relative;
    top: 125;
    cursor: pointer;
    font-weight: 600;
}

.one {
    width: 100%;
    text-align: center;
}

.box {
	width:600px;
	height:600px;
	border: 4px solid black;
	position: relative;
    top: 50px;
    left: 650px;
    text-align: center;
    background-image:linear-gradient(-40deg, rgb(2, 20, 26), rgb(7, 59, 73), rgb(10, 94, 97),rgb(0, 12, 15));
    box-shadow: 0px 5px 16px 10px rgb(17, 173, 201);
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
  }

  
  /*
  Blueish tint overlay
  */
  .hero:after {
    content: '';
    background: rgba(0, 0, 64, 0.5);
    position: absolute;
    top: 0;
    width: 99%;
    height: 100%;
  }
  
  /* 
  Making sure everything in .hero sits above our :after elements 
  */
  .hero * {
    z-index: 1;
  }
  
  #masthead {
    padding: 2.5em 0;
    position: relative;
  }
  


  .hamburger {
    background-color: transparent;      /* This is where u can change the background color for the menu icon*/
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    float: none;
    font: inherit;
    margin: 0.8125em 0 0;
    overflow: visible; 
    outline: none;
    padding: 0;
    text-transform: none;
    transition: opacity 0.15s;
    -webkit-appearance: none;
  }
  

  
  .hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; 
  }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
  }
  
  .hamburger-inner, 
  .hamburger-inner::before, 
  .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
  }
  
  .hamburger-inner::before, 
  .hamburger-inner::after {
    content: "";
    display: block; 
  }
  
  .hamburger-inner::before {
    top: -6px; 
  }
  
  .hamburger-inner::after {
    bottom: -6px; 
  }

  .hamburger-label {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1;
    margin-left: 0.3125em;
    text-transform: uppercase;
  }
  
  .hamburger-box,
  .hamburger-label {
    display: inline-block;
    vertical-align: middle;
  }

