.box {
    border: 1px solid black;
    min-height: 500px;
}
#box-1 {
    background-color: black;
    color: white;
}
p {
    color: blue;
}

@media screen and (max-width: 500px) {
    p {
        color: red;
    }
}
