.body {
    background-color: white;
    width: 100%;
}

[class*="col-"] {
    float: left; 
    padding-top:15px;
    padding-bottom: 15px;  
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 47%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.box1 {
    color: white;
    background-color: black;
    text-align: center;
}

.box2 {
    height: 330px;

}

.box3 {
    height: 120px;
}

.box4 {
    height:180px;
}

.box4 p {
    border: 4px solid black;
    border-radius: 7px;
    width: 500px;
    padding: 5px;
}

.box5 {
    min-height: 500px;
    background-color: grey;
}

.box6 {
    padding-top: 15px;
    color: white;
    background-color: black;
    text-align: center;
}

.brand{
    position: relative;
    font-family: Parisienne, sans-serif;
    font-size: 70px;
    top: -45px;
    left: -150px;
}

@font-face {
    font-family: Parisienne; src: url('Parisienne-Regular.ttf'); 
}
@font-face { 
   font-family: Parisienne; src: url('Parisienne-Regular.ttf'); 
}
