.box{
    width: 300px;
    height: 200px;
    padding: 25px;
    border: 0px;
    margin: 25px;
    text-align: center;
    border-left: 6px solid blue;
    background-color: lightgrey;
    display: block;
    margin: auto;
}
p {
    text-align: center;
    border-left: 5px solid blue;
    background-color: lightgrey;
    max-width: 150px;
    margin: auto;
  }
h1 {
      border: 2px solid red;
      border-radius: 5px;
      max-width: 500px;
      text-align: center;
      margin: auto;
      background-color: darkgrey;
  }
.center {
    text-align: center;
}
.big-box {
    width: 600px;
    height: 500px;
    padding: 25px;
    border: 0px;
    margin: 25px;
    text-align: center;
    border: 2px solid red;
    border-radius: 5px;
    background-color: darkgrey;
    display: block;
    margin: auto; 
}
.left-box {
    width: 300px;
    height: 500px;
    padding: 25px;
    border: 0px;
    margin: 25px;
    text-align: center;
    border: 2px solid red;
    border-radius: 5px;
    background-color: darkgrey;
    display: block;
    margin: auto; 
}
.right-box {
    width: 300px;
    height: 500px;
    padding: 25px;
    border: 0px;
    margin: 25px;
    text-align: center;
    border: 2px solid red;
    border-radius: 5px;
    background-color: darkgrey;
    display: block;
    margin: auto; 
}
